<!-- Header -->
        <header class="app-header">
            <nav class="navbar">
                <div class="container">
                    <div class="app-logo">
                        <a href="#" title="Sabka Bazaar">
                            <img 
                                srcset="./static/images/logo.png 190w,
                                    ./static/images/logo_2x.png 380w "
                                sizes="(max-width: 600px) 480px, 800px"
                                src="./static/images/logo.png" alt="Sabka Bazaar Logo" />
                        </a>
                    </div>
                    <!-- left nav items -->
                    <div class="left-nav-item">
                        <ul>
                            <li>
                                <a href="#">home</a>
                            </li>
                            <li>
                                <a href="#">products</a>
                            </li>
                        </ul>
                    </div>

                     <!-- left nav items -->
                     <div class="right-nav-item">
                        <ul>
                            <li>
                                <a href="#">signin</a>
                            </li>
                            <li>
                                <a href="#">register</a>
                            </li>
                        </ul>
                        <!-- cart item -->
                        <div class="cart-item">
                            <button class="add-cart-btn">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="cart-text"><span class="card-items-count"> 0 </span>items</div>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
        </header>   