.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}


@mixin container($screen-size: lg) {
    margin: 0 auto;
    @if $screen-size == sm {
        max-width: 320px
    } @else if $screen-size == md {
        max-width: 720px
    } @else if $screen-size == lg {
        max-width: 1024px
    } @else {
        max-width: 1280px
    }
}


.row {
  display: flex;
  flex-wrap: wrap;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;

    li {
        display: inline-block;
        margin: {
        left: -2px;
        right: 0.5rem;
        }
    }
}

.btn {
  font: inherit;
  border: none;
  color: $color-white;
  background: $color-primary;
  cursor: pointer;
}