.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}


@mixin media-query($screen-size: lg) {
    @if $screen-size == xs {
      @media (max-width: 320px) { @content; }
    } @else if $screen-size == sm {
      @media (min-width: 321px) { @content; }
    }@else if $screen-size == md {
      @media (min-width: 767px) { @content; }
    }@else if $screen-size == lg {
      @media (min-width: 1024px) { @content; }
    }@else if $screen-size == xl {
      @media (min-width: 1280px) { @content; }
    }
}


.row {
  display: flex;
  flex-wrap: wrap;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;

    li {
        display: inline-block;
        margin: {
        left: -2px;
        right: 0.5rem;
        }
    }
}

.btn {
  font: inherit;
  border: none;
  color: $color-white;
  background: $color-primary;
  cursor: pointer;
}