@import "../partials/common";


.app-header{
  .navbar{
    box-shadow: 0px 10px 12px -12px rgba(0, 0, 0, 0.3);
    .app-logo{
      @include flexCenter;

      picture, img{
        width: 100%;
        max-width: 150px;
        height: auto;
      }
    }

    .left-nav-item,
    .right-nav-item{

        ul {
          @include horizontal-list;
          display: flex;
          gap: 1rem;
      }

      a {
          text-decoration: none;
          color: $color-grey-light;
          cursor: pointer;
          text-transform: capitalize;
          font-size: 1rem;
          font-weight: 600;
          transition: all 0.3s ease-in-out;
          &:hover{
            color: darken($color-grey-light, 30%);
          }
      }

    }

    .left-nav-item{
      display: flex;
      flex-grow: 1;
      align-items: flex-end;
      margin-bottom: 1rem;
      margin-left: 6rem;
    }

    .right-nav-item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      ul{
        a{
          font-size: 0.8rem;
        }
      }

      .cart-item{
        .add-cart-btn{
          @include flexCenter;
          border: none;
          width: 100%;
          padding: 1rem 1.5rem;
          margin-top: 0.8rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:active, &:hover{
              background: darken($color-grey, 5%);
          }

          i{
            color: $brand-color;
            font-size: 1.5rem;
          }
          .cart-text{
            margin-left: 0.5rem;
            .card-items-count{
              margin-right: 5px;
            }
          }
          .card-items-count{
            margin-right: 5px;
          }
        }
      }
    }
  }
}

  
  @media (max-width: 600px) {
    .app-header{
      .navbar{
        .container{
          justify-content: space-between;
        }
        .left-nav-item,
        .right-nav-item ul{
           display: none;
         }

         .app-logo picture,
         .app-logo img{
          max-width: 8rem;
         }

         .right-nav-item{
          .cart-item{
            .add-cart-btn{
              margin-top: 0;
            }
          }
         }
      } 

    }
  }