.product-content{
  display: flex;
  .product-filter{
    background-color: #eaeaea;
    padding: 0.6rem;  
    flex: 1 0 20%;

    #filterType, label{
      display: none;
    }
    #filterType:checked + ul {
        display: block;
    }
    
    ul{ 
      li{
        border-bottom: 1px solid #8d8d8d;
        a{
          color: #8d8d8d;
          padding: 0.8rem;
          display: block;
        }
      }
    }
  }

  .product-cards{
    display: flex;
    flex-wrap: wrap;

    .product-card{
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding: 0.5rem;
      border-bottom: 1px dashed #a3a8ac;
      @media(min-width: 56rem) {
        max-width: 23%;
      }
      .product-title{
        font-size: 1rem;
        font-weight: 600;
      }

      .inner-card{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .product-image{
          img{
            max-width: 100%;
            object-fit: cover;
          }
        }
  
        .product-body{
          display: flex;
          flex-direction: column;
          .product-detail{
            color: #000000;
            font-size: 1rem;
            font-weight: 400;
            padding: 0.4rem 0.6rem;
            background: #f0f0f0;
            flex: 1 0 auto;
          }
          .product-footer{
            display: flex;
            justify-content: space-between;
            font-size: 0.8rem;
            font-weight: 600;
            padding: 1.2rem 0 0.8rem 0.6rem;
            align-items: center;
            .product-price{
    
            }
            .buy-btn,.buy-btn-sm{
              font-size: 0.8rem;
              padding: 0.5rem 1.2rem;
            }
            .buy-btn-sm{
              display: none;
            }
          }
        }
      }
    }
  }
}
#cartModal{
  display: none;
}
  
  @media only screen and (max-width: 767px) {
    .product-content {
      flex-direction: column;
      .product-filter{
        background-color: $color-primary;
        color: white;
        display: block;
        label{
          display: block;
          position: relative;

          &:before{
            content: '\276E';
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            transform: rotate(270deg);
          }
        }
        ul{
          display: none;
          li{
            a{
              color: white;
            }
          }
        }
      }
      .product-cards {
        .product-card{
            max-width: 100%;
            .inner-card{
              flex-direction: row;
              .product-image{
                img{
                  height: 100%;
                  object-fit: contain;
                }
              }
              .product-image,
              .product-body{
                flex-basis: 50%;
                .product-footer{
                  .buy-btn-sm{
                    display: block;
                  }
                  .buy-btn,.product-price{
                    display: none;
                  }
                }
              }
            }
        }
      }
    }
  }

  
  @media only screen and (min-width: 768px) and  (max-width: 991px) {
    .product-content {
      .product-cards {
        .product-card{
            max-width: 46%;
        }
      }
    }
  }
  