@charset "UTF-8";
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font: inherit;
  border: none;
  color: #ffffff;
  background: #d10157;
  cursor: pointer;
}

.app-header .navbar {
  box-shadow: 0px 10px 12px -12px rgba(0, 0, 0, 0.3);
}
.app-header .navbar .app-logo {
  display: flex;
  align-items: center;
}
.app-header .navbar .app-logo img {
  width: 100%;
  max-width: 150px;
  height: auto;
}
.app-header .navbar .left-nav-item ul,
.app-header .navbar .right-nav-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.app-header .navbar .left-nav-item ul li,
.app-header .navbar .right-nav-item ul li {
  display: inline-block;
  margin-left: -2px;
  margin-right: 0.5rem;
}
.app-header .navbar .left-nav-item a,
.app-header .navbar .right-nav-item a {
  text-decoration: none;
  color: #7f7e80;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
}
.app-header .navbar .left-nav-item {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-left: 6rem;
}
.app-header .navbar .right-nav-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.app-header .navbar .right-nav-item ul a {
  font-size: 0.8rem;
}
.app-header .navbar .right-nav-item .cart-item .add-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  padding: 1rem 1.5rem;
  margin-top: 0.8rem;
}
.app-header .navbar .right-nav-item .cart-item .add-cart-btn:active {
  background: rgba(110, 110, 110, 0.5764705882);
}
.app-header .navbar .right-nav-item .cart-item .add-cart-btn i {
  color: #c02957;
  font-size: 1.5rem;
}
.app-header .navbar .right-nav-item .cart-item .add-cart-btn .cart-text {
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .app-header .navbar .container {
    justify-content: space-between;
  }
  .app-header .navbar .left-nav-item,
.app-header .navbar .right-nav-item ul {
    display: none;
  }
  .app-header .navbar .app-logo img {
    max-width: 8rem;
  }
  .app-header .navbar .right-nav-item .cart-item .add-cart-btn {
    margin-top: 0;
  }
}
.photo_slider {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  height: 60vh;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 0.5rem;
  /* Next and Prev arrow */
  /* Slider Pagger */
  /* Slider Pagger arrow event */
  /* Slider Pagger event */
  /* Slide effect */
}
.photo_slider input {
  display: none;
}
.photo_slider .slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 0;
  transition: transform 1600ms;
  transform: scale(1);
  /* Slider images */
}
.photo_slider .slider.slide_img_01 {
  background: url("../static/images/offers/offer1.jpg") no-repeat center;
  background-size: contain;
  left: 0;
}
.photo_slider .slider.slide_img_02 {
  background: url("../static/images/offers/offer2.jpg") no-repeat center;
  background-size: contain;
  left: 100%;
}
.photo_slider .slider.slide_img_03 {
  background: url("../static/images/offers/offer3.jpg") no-repeat center;
  background-size: contain;
  left: 100%;
}
.photo_slider .slider.slide_img_04 {
  background: url("../static/images/offers/offer4.jpg") no-repeat center;
  background-size: contain;
  left: 100%;
}
.photo_slider .slider.slide_img_05 {
  background: url("../static/images/offers/offer5.jpg") no-repeat center;
  background-size: contain;
  left: 100%;
}
.photo_slider .control {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  z-index: 55;
}
.photo_slider .control label {
  z-index: 0;
  display: none;
  cursor: pointer;
  opacity: 0.6;
  color: #ffffff;
  background: rgb(188, 188, 188);
  padding: 0.5rem;
}
.photo_slider .control label:hover {
  opacity: 1;
  background: rgb(181, 181, 181);
}
.photo_slider .control.next {
  right: 1%;
}
.photo_slider .control.previous {
  left: 1%;
}
.photo_slider .slider-pagination {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
.photo_slider .slider-pagination label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #dfdcdc;
  margin: 0 2px;
  cursor: pointer;
}
.photo_slider .slide-radio1:checked ~ .next .numb2,
.photo_slider .slide-radio2:checked ~ .next .numb1,
.photo_slider .slide-radio2:checked ~ .previous .numb1,
.photo_slider .slide-radio1:checked ~ .previous .numb2 {
  display: block;
  z-index: 1;
}
.photo_slider .slide-radio1:checked ~ .slider-pagination .page1,
.photo_slider .slide-radio2:checked ~ .slider-pagination .page2 {
  background: rgb(171, 166, 166);
}
.photo_slider .slide-radio1:checked ~ .slider {
  transform: translateX(0%);
}
.photo_slider .slide-radio2:checked ~ .slider {
  transform: translateX(-100%);
}

.product-category {
  display: flex;
  flex-direction: column;
}
.product-category .category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: white;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
}
.product-category .category-item:last-child::after {
  box-shadow: none;
}
.product-category .category-item::after {
  z-index: -1;
  content: "";
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  height: 20%;
  width: 80%;
  left: 10%;
  right: 10%;
  bottom: 0px;
}
.product-category .category-item:nth-child(even) .product-img {
  order: 2;
}
.product-category .category-item:nth-child(even) .catg-details {
  order: 1;
}
.product-category .category-item .product-img {
  flex: 1 1 15rem;
}
.product-category .category-item .product-img img {
  max-width: 100%;
}
.product-category .category-item .product-details {
  flex: 1 1 auto;
  text-align: center;
}
.product-category .category-item .product-details .product-title {
  margin-bottom: 0.8rem;
}
.product-category .category-item .product-details .explore-btn {
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1.3rem;
  border: none;
  background: #bf2957;
  color: white;
  cursor: pointer;
}

.footer {
  background: #eaeaea;
  padding: 1rem 0;
}

@media only screen and (max-width: 991px) {
  .photo_slider {
    height: 30vh;
  }
}
@media only screen and (max-width: 767px) {
  .photo_slider {
    position: relative;
    width: 100%;
    height: 200px;
  }
  .photo_slider .slider > div {
    padding: 0 2%;
  }
  .photo_slider .control {
    position: absolute;
    top: 60%;
    margin-top: -24px;
    z-index: 55;
  }
  .photo_slider .control label svg {
    width: 32px;
    height: 32px;
    fill: #fff;
    stroke: currentColor;
    stroke-width: 0;
  }
}
.product-content {
  display: flex;
}
.product-content .product-filter {
  background-color: #eaeaea;
  padding: 0.6rem;
  flex: 1 0 20%;
}
.product-content .product-filter #filterType {
  display: none;
}
.product-content .product-filter #filterType:checked + ul {
  display: block;
}
.product-content .product-filter ul {
  display: none;
}
.product-content .product-filter ul li {
  border-bottom: 1px solid #8d8d8d;
}
.product-content .product-filter ul li a {
  color: #8d8d8d;
  padding: 0.8rem;
  display: block;
}
.product-content .product-cards {
  display: flex;
  flex-wrap: wrap;
}
.product-content .product-cards .product-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0.5rem;
  border-bottom: 1px dashed #a3a8ac;
}
@media (min-width: 56rem) {
  .product-content .product-cards .product-card {
    max-width: 23%;
  }
}
.product-content .product-cards .product-card .product-title {
  font-size: 1rem;
  font-weight: 600;
}
.product-content .product-cards .product-card .inner-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.product-content .product-cards .product-card .inner-card .product-image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-content .product-cards .product-card .inner-card .product-body {
  display: flex;
  flex-direction: column;
}
.product-content .product-cards .product-card .inner-card .product-body .product-detail {
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.4rem 0.6rem;
  background: #f0f0f0;
  flex: 1 0 auto;
}
.product-content .product-cards .product-card .inner-card .product-body .product-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 1.2rem 0 0.8rem 0.6rem;
  align-items: center;
}
.product-content .product-cards .product-card .inner-card .product-body .product-footer .buy-btn, .product-content .product-cards .product-card .inner-card .product-body .product-footer .buy-btn-sm {
  font-size: 0.8rem;
  padding: 0.5rem 1.2rem;
}
.product-content .product-cards .product-card .inner-card .product-body .product-footer .buy-btn-sm {
  display: none;
}

@media only screen and (max-width: 768px) {
  .product-content {
    flex-direction: column;
  }
  .product-content .product-filter {
    background-color: #d10157;
    color: white;
    display: block;
  }
  .product-content .product-filter label {
    display: block;
    position: relative;
  }
  .product-content .product-filter label:before {
    content: "❮";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    transform: rotate(270deg);
  }
  .product-content .product-filter ul li a {
    color: white;
  }
  .product-content .product-cards .product-card {
    max-width: 47%;
  }
  .product-content .product-cards .product-card .inner-card {
    flex-direction: row;
  }
  .product-content .product-cards .product-card .inner-card .product-image img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .product-content .product-cards .product-card .inner-card .product-image,
.product-content .product-cards .product-card .inner-card .product-body {
    flex-basis: 50%;
  }
  .product-content .product-cards .product-card .inner-card .product-image .product-footer .buy-btn-sm,
.product-content .product-cards .product-card .inner-card .product-body .product-footer .buy-btn-sm {
    display: block;
  }
  .product-content .product-cards .product-card .inner-card .product-image .product-footer .buy-btn, .product-content .product-cards .product-card .inner-card .product-image .product-footer .product-price,
.product-content .product-cards .product-card .inner-card .product-body .product-footer .buy-btn,
.product-content .product-cards .product-card .inner-card .product-body .product-footer .product-price {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .product-content .product-cards .product-card {
    max-width: 100%;
  }
}
.auth-container {
  max-width: 80%;
  margin: 0 auto;
}
.auth-container .auth-content {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 2rem auto;
}
.auth-container .auth-content .left-wrapper {
  flex: 1;
}
.auth-container .auth-content .right-wrapper {
  flex: 1;
}

form .form-control {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
}
form .form-control + .form-control {
  margin-top: 1.5rem;
}
form .form-control .form-label {
  color: #52575b;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}
form .form-control .form-input {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}
form .form-control .form-input:focus, form .form-control .form-input:valid {
  outline: 0;
  border-bottom-color: #89d4d5;
}
form .form-control .form-input:focus + .form-label, form .form-control .form-input:valid + .form-label {
  color: #89d4d5;
  transform: translateY(-1.5rem);
}
form .action-btn {
  width: 100%;
  margin: 2rem 0 1rem 0;
  padding: 0.8rem;
  font-size: 1rem;
  margin-top: 10px;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .auth-container .auth-content {
    flex-direction: column;
    width: 100%;
  }
  .auth-container .auth-content .right-wrapper {
    margin-top: 2rem;
  }
}
.footer-container {
  background: #f0f0f0;
}
.footer-container p {
  padding: 8px;
}

@media (max-width: 768px) {
  .footer-container p {
    text-align: center;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */